########################################
# PRINT SURFACE CONTROL configuration
########################################

[print_surface_control_system]
enable_on_startup: False
check_interval: 0.05
debounce_time: 0.5
recovery_time: 2.0
pause_on_trigger: True
pause_message: "Контроль поверхности печати: сработал зонд во время печати. Вероятно, деталь отлипла или подорвало край. Пауза."
trigger_gcode: "M400"

[gcode_macro CHANGE_PSCS]
description: При нажатии изменяет состояние контроля поверхности печати
gcode:
    {% set svv = printer.save_variables.variables %}
    {% if not svv.change_pscs|default(False) %}
        RESPOND PREFIX="[+]" MSG="Контроль поверхности печати активирован"
        SAVE_VARIABLE VARIABLE=change_pscs VALUE=True
        SURFACE_CTRL_ENABLE
    {% else %}
        RESPOND PREFIX="[+]" MSG="Контроль поверхности печати отключен"
        SAVE_VARIABLE VARIABLE=change_pscs VALUE=False
        SURFACE_CTRL_DISABLE
    {% endif %}

# После перезагрузки / аварийной остановки сбрасываем состояние
[delayed_gcode delayed_pscs_disable]
gcode:
    SURFACE_CTRL_DISABLE
    SAVE_VARIABLE VARIABLE=change_pscs VALUE=False
initial_duration: 0.7
